<h1>Show my task</h1>
<%= link_to "Edit",
  edit_task_path(@task)
%>
<div class="details_container">
<p>Title: <%= @task.title %></p>
<p>Details: <%= @task.details %></p>
</div>
<%= link_to "Delete",
  task_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<div class="back-btn"><i class="fa-solid fa-arrow-left"></i><a href="/tasks"> Back to list</a></div>
